.mainContainer{
    display: grid;
    grid-template-columns: 1fr repeat(10, 1fr); /* First part has one column, and the second part has 10 columns */
    gap: 10px;
}
.subConatiner1{
    grid-column: 1;
    grid-row: 1;
    margin: 200px 0px 0px 180px
}




.cardContainer{
    width: 280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px;
    margin: 200px 0 0 250px;

}

.cardImageConatiner{
        height: 180px;
        width: 200px;
        background-color: #EDF1FC;
        border-radius: 10px;
       
}
.cardImage{
        padding: 5px 0px 5px 50px;
        
}
#imageHover{
    filter: blur(0);
}
#imageHover :hover{  
    filter: blur(5);
        
}
.horizontaLine {
    height: 0.5px;
    background-color: rgba(112, 122, 121, 0.619);
    /* margin-left: 40px; */
    width: 150px
}
.brandsCheckbox{
    width: 230px; /* Set the width of the box */
    height: 200px;
    overflow-y: scroll;
    padding: 2px;
    /* font-family:sans-serif; */
    font-size: 14px;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    /* border: 1px solid black; */
}
.brandsCheckbox::-webkit-scrollbar {
    width: 3px;
}
.brandsCheckbox::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb (dragging part) */
    border-radius: 3px; /* Rounded corners for the thumb */
    
    height: 3px; /* Set the desired height for the scrollbar thumb */
  }
.lineSpace{
    line-height: 2.5;
}
.checkBoxTitle{
    color:rgb(10, 104, 235);
    font-size: 20px;
}